#secGlobalElements {
  border-radius: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: clamp(250px, 100vw, 1650px);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2.5rem;
  background: var(--white_Background);
  box-shadow: -0px -0px 10px 0px var(--black);
  transition: 0.2s;
  margin: 110px auto;
}

#divDetailPokemon,
#divComparePokemon,
#divSuggestionRandomPokemon {
  border-radius: 2.5rem;
  margin: 2% 0;
}
#divSuggestionRandomPokemon {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  overflow: scroll;
  border-radius: 2.5rem;
  padding: 1rem 0;
}
