@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url(styleCardPokemon.css);
@import url(styleComparePokemon.css);
@import url(styleIpnSearchPokemon.css);
@import url(styleMenuScroll.css);
@import url(styleSumAboutPokemon.css);
@import url(styleSectionComparePokemon.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  overflow: visible;
}
*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
:root {
  --black: #111010;
  --black_Sum_Of_Course: #2d2d2d;
  --black_Background: #1c1c1c;

  --white: #e2e2e2;
  --white_Sum_Of_Course: #f2f2f2;
  --white_Background: #c7c7c7;

  --colorTypeNormal: #a8a77a;
  --colorTypeFire: #ee8130;
  --colorTypeWater: #6390f0;
  --colorTypeElectric: #f7d02c;
  --colorTypeGrass: #7ac74c;
  --colorTypeIce: #96d9d6;
  --colorTypeFighting: #c22e28;
  --colorTypePoison: #a33ea1;
  --colorTypeGround: #e2bf65;
  --colorTypeFlying: #a98ff3;
  --colorTypePsychic: #d14994;
  --colorTypeBug: #a6b91a;
  --colorTypeRock: #b6a136;
  --colorTypeGhost: #735797;
  --colorTypeDragon: #6f35fc;
  --colorTypeDark: #705746;
  --colorTypeSteel: #b7b7ce;
  --colorTypeFairy: #d685ad;

  /* Light Versions (25% lighter approx.) */
  --colorTypeNormalLight: #c6c49b;
  --colorTypeFireLight: #f5a061;
  --colorTypeWaterLight: #8ab0f3;
  --colorTypeElectricLight: #fbe56d;
  --colorTypeGrassLight: #9bd578;
  --colorTypeIceLight: #bde9e7;
  --colorTypeFightingLight: #d65a4f;
  --colorTypePoisonLight: #c166c3;
  --colorTypeGroundLight: #edd48b;
  --colorTypeFlyingLight: #c1b1f6;
  --colorTypePsychicLight: #e176b1;
  --colorTypeBugLight: #c6d63a;
  --colorTypeRockLight: #d0be6c;
  --colorTypeGhostLight: #9b7db4;
  --colorTypeDragonLight: #9267fc;
  --colorTypeDarkLight: #a07e67;
  --colorTypeSteelLight: #d2d2e0;
  --colorTypeFairyLight: #e8acc8;
}
html,
body {
  height: 100dvh;
  width: 100%;
}
body {
  background: var(--white);
  font-family: "Pixelify Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s linear;
}
#asideInformationWebsite {
  color: var(--black_Sum_Of_Course);
  background: var(--white_Background);
  border-right: solid var(--black);
  transition: 0.7s;
  width: 0px;
  height: 100%;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  padding-top: 2rem;
}
#headerSearch,
#sectionContain,
#footerMenu {
  width: clamp(250px, 100vw, 1650px);
  background: var(--white_Background);
  box-shadow: -0px -0px 10px 0px var(--black);
  border: none;
  transition: 0.2s;
  margin: 0 auto;
}
#headerSearch {
  border-radius: 0 0 2.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#sectionContain {
  border-radius: 2.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 110px auto;
}
#divContainScrollInfinit {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  overflow: scroll;
  border-radius: 2.5rem;
  padding: 1.3rem 0;
}
#footerMenu {
  border-radius: 2.5rem 2.5rem 0 0;
  height: 100px;
}

/*<<<Tema escuro de cada componente.>>>*/

body.dark_Theme {
  background: var(--black_Sum_Of_Course);
}
body.dark_Theme #asideInformationWebsite {
  color: var(--white);
  background: var(--black_Background);
}
body.dark_Theme #headerSearch,
body.dark_Theme #sectionContain,
body.dark_Theme #footerMenu,
body.dark_Theme #secGlobalElements {
  background: var(--black_Background);
  box-shadow: -0px -0px 10px 0px var(--white_Sum_Of_Course);
}
body.dark_Theme .ipnSearchPokemon {
  background: var(--black_Sum_Of_Course)
    url(../../image/iconMenu/icon_Magnifying_Theme_Of_Course.png) no-repeat left;
  color: var(--white);
}
body.dark_Theme .ipnSearchPokemon::placeholder {
  color: var(--white);
}

body.dark_Theme .bodyMenuScroll button {
  background: var(--white);
  border: solid 2px var(--black_Background);
  box-shadow: 0px 0px 10px 0px var(--white);
}

body.dark_Theme .bodyCard {
  background: var(--black_Sum_Of_Course);
}
body.dark_Theme .bodyCard figure,
body.dark_Theme .bodyCard .infoTypeIconPokemon {
  background: var(--black_Sum_Of_Course);
  border: transparent 0px;
  color: var(--white);
}

body.dark_Theme .styleSecSumAboutPokemon {
  background: var(--black_Sum_Of_Course);
  color: var(--white);
}


@keyframes boxsShadowAnimation {
  0%,
  100% {
    box-shadow: 0 0 20px var(--firstColorShadow);
    border: solid var(--firstColorShadow);
  }
  50% {
    box-shadow: 0 0 20px var(--secondColorShadow);
    border: solid var(--secondColorShadow);
  }
}
