.styleSecSumAboutPokemon {
  border-radius: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  width: 90%;
  margin: 0 auto;
  animation: boxShadowAnimation 3s ease-in-out infinite;
}
.divImgPokemonAndTypesIcons {
  border-radius: 2.3rem 2.3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.divImgPokemonAndTypesIcons > div {
  transform: translateY(20%);
}
.divPokemonTypeIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.divPokemonTypeIcons img {
  width: clamp(75px, 10vw, 150px);
}
.imgPokemon {
  width: clamp(150px, 30vw, 300px);
  image-rendering: pixelated;
  margin-top: 1rem;
}
.divInformationPokemon {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: clamp(175px, 50vw, 400px);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divInformatoinStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  border: solid 1px var(--white);
  box-shadow: -0px -0px 10px 0px var(--white_Sum_Of_Course);
  border-radius: 2.5rem;
  height: 90px;
  padding: 0.5rem;
}
.pokemonStatItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: clamp(1rem, 4vw, 2.5rem);
  gap: .5rem;
}
