.bodyMenuScroll {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
  position: sticky;
  top: 1rem;
  transition: .1s;
  padding: 1rem 0;
}
.bodyMenuScroll button{
  border-radius: 2rem;
  width: clamp(50px, 2vw, 70px);
  height: clamp(50px, 2vw, 70px);

  background: var(--black_Sum_Of_Course);
  border: solid var(--white) 2px;

  cursor: pointer;
  transition: 0.2s;
}
.bodyMenuScroll button:hover {
  box-shadow: -0px 5px 5px 0px var(--black_Sum_Of_Course);
  scale: 1.1;
}
.bodyMenuScroll button img {
  width: clamp(30px, 2vw, 70px);
}


